h1{
    position:relative;
    left:425px;
}
h2{
    position:relative;
    left:400px;
}
h3{
    position:relative;
    left:375px;
}
h4{
    position:relative;
    left:350px;
}
h5{
    position:relative;
    left:325px;
}
h6{
    position:relative;
    left:300px;
}
