.prevcircle{
   height: 50px;
   width: 50px;
   border-radius: 50%;
   position:fixed;
   background-color: #fc0000;
   top:280px;
   z-index: 1000;
   left: 10px;
}

.prevcircle:hover{
   background-color: #910000;
}


.nextcircle{
   right: 10px;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   position:fixed;
   background-color: #c90000;
   top:280px;
   z-index: 1000;
}

.nextcircle:hover{
  background-color: #fc0000;
}




h1{
    position:relative;
    left:425px;
}
h2{
    position:relative;
    left:400px;
}
h3{
    position:relative;
    left:375px;
}
h4{
    position:relative;
    left:350px;
}
h5{
    position:relative;
    left:325px;
}
h6{
    position:relative;
    left:300px;
}
