*{
  font-family: helvetica;
}
a{
  text-decoration: none;
  position: absolute;
  width: 0;
  height: 0;
  filter: blur(.25px);
  z-index: 1001;
  color: #bfbfbf;

}
a:visited{
  color: #bfbfbf;
}

.canvas{
  width: 24000px;
  height: 100%;
  z-index: -10;
  position: absolute;
  left: 0px;
  top:0px;
  background: linear-gradient(to right, #809b68 , #8ab267 , #66874a , #545b35 , #5d7546 , #7fa05e , #9ec675 , #b5d693 , #739352 , #4b7223);
       background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
   
  }
  
.canvasoverlay{
position: absolute;
background-color: gray;
background-image: linear-gradient(90deg, transparent 50%, rgba(500,255,255,.5) 50%);
width: 24000px;
height: 100%;
z-index: -9;
background-size: 50px 50px;
opacity: .05;
left: 0px;
top:0px;

}
.canvasoverlay2{
position: absolute;
background-color: gray;
background: linear-gradient(to right, #809b68 ,  #66874a , #545b35 , #5d7546 ,  #9ec675 , #b5d693 , #739352 );
width: 24000px;
height: 100%;
z-index: -8;

opacity: .1;
left: 0px;
top:0px;
}
.canvasoverlay3{
position: absolute;
background-color: gray;
background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5) , rgba(0,0,0,1));
width: 24000px;
height: 100%;
z-index: -7;
left: 0px;
top:0px;
}
.canvasoverlay4{
position: absolute;
background-color: gray;
background-color: black;
width: 24000px;
height: 10000px;
z-index: -11;
left: 0px;
top:0px;
}


button:focus {outline:0;}
button{
  border-radius: 0;
  z-index: 1000;
  background-color: transparent;
  position: absolute;
}





/* HOMEPAGE */
#dowhat{
left:1%;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow1{
left:.9%;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target1{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 2000px;
}
.title{
  position: absolute;
  z-index:1000; 
  left:550px;
  top: 300px;
}



/*Page 1 (DO WHAT link)*/
#websiteanalysis{
left:2020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow2{
left:2020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target2{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 4000px;
}
.title2{
  position: absolute;
  z-index:1000; 
  left:2550px;
  top: 300px;
  width: 400px;
}





/*Page 3 (website analysis link)*/
#screenshot{
left:4020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow3{
left:4020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target3{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 6000px;
}
.title3{
  position: absolute;
  z-index:1000; 
  left:4550px;
  top: 300px;
  width: 400px;
}


/*Page 4 (Screenshot link)*/
#malevich{
left:6020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow4{
left:6020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target4{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 8000px;
}
.title4{
  position: absolute;
  z-index:1000; 
  left:6550px;
  top: 300px;
  width: 400px;
}


/*Page 5 (Malevich link)*/
#republish{
left:8020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow5{
left:8020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target5{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 10000px;
}
.title5{
  position: absolute;
  z-index:1000; 
  left:8550px;
  top: 300px;
  width: 400px;
}

/*Page 6 (Republish)*/
#hover{
left:10020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow6{
left:10020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target6{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 12000px;
}
.title6{
  position: absolute;
  z-index:1000; 
  left:10550px;
  top: 300px;
  width: 400px;
}

/*Page 7 (Hover)*/
#variations{
left:12020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow7{
left:12020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target7{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 14000px;
}
.title7{
  position: absolute;
  z-index:1000; 
  left:12550px;
  top: 300px;
  width: 400px;
}

/*Page 8 (variations)*/
#responsive{
left:14020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow8{
left:14020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target8{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index:1000; 
  top: 0px;
  left: 16000px;
}
.title8{
  position: absolute;
  z-index:2; 
  left:14550px;
  top: 300px;
  width: 400px;
}


/*Page 9 (Responsive)*/
#microsite{
left:16020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow9{
left:16020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target9{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 18000px;
}
.title9{
  position: absolute;
  z-index:1000; 
  left:16550px;
  top: 300px;
  width: 400px;
}

/*Page 10 (Microsite)*/
#abstract{
left:18020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow10{
left:18020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
 
}

#target10{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 20000px;
}
.title10{
  position: absolute;
  z-index:2; 
  left:18550px;
  top: 300px;
  width:300px;
  z-index:1000; 
}

/*Page 11 (Abstract Grid)*/
#sentence{
left:20020px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-left: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatx;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow11{
left:20020px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target11{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 22000px;
}
.title11{
  position: absolute;
  z-index:1000; 
  left:20550px;
  top: 300px;
  width: 400px;

}

/*Page 12 (Sentence Generator)*/
#beggining{
left:22040px;
top: 100px;
position: absolute;

border:none;
border-top: 15px solid transparent;
border-right: 40px solid #375434;
border-bottom: 15px solid transparent;

animation-name: floatxneg;
animation-iteration-count: infinite;
animation-duration: 8s;
}

.shadow12{
left:22050px;
top: 106px;
transform: rotate(180deg);
position: absolute;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-left: 40px solid black;
border-bottom: 15px solid transparent;
filter: blur(5px);
opacity: .5;
z-index: 3;
}

#target12{
  position: absolute;
  width:100px:
  height:10px;
  background-color: red;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.title12{
  position: absolute;
  z-index:1000; 
  left:22550px;
  top: 300px;
  width: 400px;
}






















@keyframes floaty {
  0% {
    
    transform: translatey(0px);

  }
  50% {
   
    transform: translatey(-15px);
  }
  100% {
  
    transform: translatey(0px);
  }
}


@keyframes floatyneg {
  0% {
    
    transform: translatey(0px);

  }
  50% {
   
    transform: translatey(15px);
  }
  100% {
  
    transform: translatey(0px);
  }
}


@keyframes floatx {
  0% {
    
    transform: translatex(0px);

  }
  50% {
   
    transform: translatex(15px);
  }
  100% {
  
    transform: translatex(0px);
  }
}

@keyframes floatxneg {
  0% {
    
    transform: translatex(0px);

  }
  50% {
   
    transform: translatex(-15px);
  }
  100% {
  
    transform: translatex(0px);
  }
}