*{
   box-sizing: border-box;
}

.prevcircle{
   height: 50px;
   width: 50px;
   border-radius: 50%;
   position:fixed;
   background-color: #fc0000;
   top:280px;
   z-index: 1000;
   left: 10px;
}

.prevcircle:hover{
   background-color: #910000;
}


.nextcircle{
   right: 10px;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   position:fixed;
   background-color: #c90000;
   top:280px;
   z-index: 1000;
}

.nextcircle:hover{
  background-color: #fc0000;
}

.toast{
   border: 5px solid black;
}
.firststanza{
   position: relative;
   border: 5px solid cyan ;
   border-radius: 10px;
   width: 500px;
   padding: 20px 10px 20px 200px;
   left: 200px;
}

.secondstanza{
   position: relative;
   border: 5px solid blue ;
   border-radius: 10px;
   width: 500px;
   padding: 30px;
   left: 350px;
   text-transform: uppercase;
}

.thirdstanza{
   position: relative;
   border: 5px solid cyan ;
   border-radius: 10px;
   width: 500px;
   padding: 20px 10px 20px 200px;
   left: 200px;
}

.fourthstanza{
   position: relative;
   border: 5px solid blue ;
   border-radius: 10px;
   width: 500px;
   padding: 30px;
   left: 350px;
   text-transform: uppercase;
}
